body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 900px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    letter-spacing: 6px;
    color: green;
    text-align: center;
    margin-left: 170px;
}
b {
    color: rgb(190, 146, 89);
}
h2 {
    color: greenyellow;
    margin-bottom: 0px;
}
hr {
    margin-top: 0px;
}
section {
    border: solid;
    border-width: 0.1px;
    border-color: grey;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}
h3 {
    color: rgb(190, 146, 89);
    font-weight: 800;
}
div {
    display: flex;
    justify-content: space-around;
}
ul {
    margin-right: 50px;
    list-style: none;
}
li {
    margin-bottom: 5px;
    background-color: rgb(183, 241, 96);
    padding: 7px 20px 7px 20px;
    text-align: center;
}
li:hover {
    background-color: burlywood;
    color: black;

}
ul li a {
    text-decoration: none;
    color: rgb(68, 67, 67);
}